.dark{
    background-color:$bg-color-dark;
    .titleBox {
        @include title-gradient-dark;
    }
    .createButton{
        @include buttonDark;
        &:hover{
            @include buttonHoverDark;
        }
        &:active{
            @include buttonActiveDark
        }
    }  
    .chooseBox{
        &:hover{
            button{
                @include buttonHoverDark;
            }
        }
        &:active{
            button{
                @include buttonActiveDark;
            }
        }
    }
    .chooseButton{
        @include buttonDark;
    }
    .dropButton{
        @include buttonDark;
        img{
            filter: invert(100);
        }
    }
    .misGuifosBox{
        color: $color-secondary;
    }
    #themes{          
        &.active{
            background-color: $bg-windows-dark;
            box-shadow: $box-shadow-windows-dark;
            li{
                background-color:#CCCCCC;
                border: $box-shadow-windows;
                box-shadow: $box-shadow-options;
                &:last-child{
                    background: $bg-options-dark;
                    border: $border-options-dark;
                    box-shadow: $box-shadow-options;
                }
                .sDark{
                    text-decoration: underline;
                    text-underline-position: under;               
                }
            }
        }
    }
    main{
        .search{
            background-color: $bg-windows-dark;
            box-shadow: $box-shadow-windows;
            .searchTitleBox{
                background-image: $bg-gradient-title-dark;                
            }
            .searchBar{
                #searchButton{
                    &:disabled{
                        background-color: $bg-windows-dark;
                        border: $border-options;
                        box-shadow: $box-shadow-windows;
                        color: $color-disabled;
                    }
                    &:enabled{
                        @include buttonNormal;
                        &:hover{
                            @include buttonHover;
                        }
                    }
                }
            }
            #sugResults{
                &.active{
                    background-color: $bg-search-dark;
                    box-shadow: $box-shadow-search-dark;
                    li{
                        background-color: $bg-sugestions-dark;
                        border: $border-options;
                        box-shadow: $box-shadow-windows;
                        &:hover{
                            border: $border-button;    
                        }
                    }
                }
            }
        }
    }
}