.dark{
    background-color:$bg-color-dark;
    .titleBox {
        @include title-gradient-dark;
    }
    .createButton{
        @include buttonDark;
        &:hover{
            @include buttonHoverDark;
        }
        &:active{
            @include buttonActiveDark
        }
    }  
    .chooseBox{
        &:hover{
            button{
                @include buttonHoverDark;
            }
        }
        &:active{
            button{
                @include buttonActiveDark;
            }
        }
    }
    .chooseButton{
        @include buttonDark;
    }
    .dropButton{
        @include buttonDark;
        img{
            filter: invert(100);
        }
    }
    .misGuifosBox{
        color: $color-secondary;
    }
    #themes{          
        &.active{
            background-color: $bg-windows-dark;
            box-shadow: $box-shadow-windows-dark;
            li{
                background-color:#CCCCCC;
                border: $box-shadow-windows;
                box-shadow: $box-shadow-options;
                &:last-child{
                    background: $bg-options-dark;
                    border: $border-options-dark;
                    box-shadow: $box-shadow-options;
                }
                .sDark{
                    text-decoration: underline;
                    text-underline-position: under;               
                }
            }
        }
    }
    main{
        .searchResultsButtons{
            .searchResultButton{
                background-color: $bg-button-tag-dark;
                &:hover{
                    background-color: $bg-button-tag-hover-dark;    
                }
            }
        }
        .search{
            background-color: $bg-search-dark;
            box-shadow: $box-shadow-windows;
            .searchTitleBox{
                background-image: $bg-gradient-title-dark;                
            }
            .searchBar{
                #searchButton{
                    &:disabled{
                        background-color: $bg-search-dark;
                        border: $border-options;
                        box-shadow: $box-shadow-windows;
                        color: $color-disabled-dark;
                        #lens{
                            fill: $color-disabled-dark;
                        }
                    }
                    &:enabled{
                        @include buttonNormal;
                        &:hover{
                            @include buttonHover;
                        }
                    }
                }
            }
            #sugResults{
                &.active{
                    background-color: $bg-search-dark;
                    box-shadow: $box-shadow-search-dark;
                    li{
                        background-color: $bg-sugestions-dark;
                        border: $border-options;
                        box-shadow: $box-shadow-windows;
                        &:hover{
                            border: $border-button;    
                        }
                    }
                }
            }
        }
        .searchResults{
            .searchResultsBox{
                .imageResultsBox{
                    &:hover{
                        background-color: $bg-search-dark;
                        box-shadow: $box-shadow-gif-dark;
                    }
                    .hashtags{
                        background-image: $bg-gradient-title-dark;
                    }
                }
            }
        }
        .suggestions{
            .sugResultsBox{
                .imageSugResultsBox{
                    background-color: $bg-search-dark;
                    box-shadow: $box-shadow-gif-dark;
                    .sugHashtags{
                        background-image: $bg-gradient-title-dark;
                    }
                    button{
                        background-color: $bg-button-tag-dark;   
                        &:hover{
                            background-color: $bg-button-tag-hover-dark;    
                        }
                    }
                }   
            }
        }
        .top{
            .topResultsBox{
                .imageTopResultsBox{
                    &:hover{
                        background-color: $bg-search-dark;
                        box-shadow: $box-shadow-gif-dark;
                    }
                    .topHashtags{
                        background-image: $bg-gradient-title-dark;
                    }
                }
            }
        }
        .createGuifos{
            .instructions{
                @include createWindowDark;
                .instructionsTitleBox{
                    background-image: $bg-gradient-title-dark;   
                } 
                .instructionsFooter{
                    button{
                        border: $border-button;
                        box-shadow: $box-shadow-button-dark;
                    }
                    #begin{
                        background-color: $bg-button-dark;
                        &.hover{
                            background-color: $bg-button-hover-dark;
                        }
                    }
                }   
            }
            .capturing{
                @include createWindowDark;
                .testTitleBox{
                    background-image: $bg-gradient-title-dark;    
                }
                .captureButtonBox{
                    .camera{
                        @include buttonPinkDark;    
                    }
                    .capture{
                        @include buttonPinkDark;
                }
            }
            .preview{
                @include createWindowDark;
                .previewTitleBox{
                    background-image: $bg-gradient-title-dark;    
                }
                .previewFooter{
                    .loadingBox{
                       .iconbox{
                            border: $border-button;
                            box-shadow: $box-shadow-button-dark; 
                            background-color: $bg-button-dark;     
                        }
                    }
                }
                    #upload{
                        @include buttonPinkDark;
                    }
                }
            }
            .loading{
                @include createWindowDark; 
                .loadingTitleBox{
                    background-image: $bg-gradient-title-dark;    
                }   
            }
        }
    }
}