//small & medium devices up to 991px
.titleBox{
    @include container;
    margin-top: 1px;
    box-shadow: $box-shadow-title;
    box-sizing: border-box;
    height: 30px;
    h1{
        padding: 9px;
        color: $color-secondary;
        font-size: 12px;
    }
}
.headerBox{
    @include container;
    margin-top: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttonsBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        .createButton{
            width: 144px;
            height: 36px;
            margin: 4px;
            font-size: 16px;
            &:focus{
                outline: none;
            }
        }
        .themeButton{
            margin: 4px;
            .chooseBox{
                &:focus{
                    outline: none;
                }
            }
            .chooseButton{
                width: 131px;
                height: 36px;
                font-size: 16px;
                
            }
            .dropButton{
                width: 36px;
                height: 36px;
                transform: translate(-5px);
                img{
                    width: 10px;
                    height: 6px;
                }
            }
            ul{                
                display: none;
                &.active{
                    display: block;
                    position: absolute;
                    z-index: 2;
                    width: 167px;
                    height: 102px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    list-style: none;
                    li{
                        width: 150px;
                        height: 36px;
                        font-size: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
        }
        .misGuifosBox{
            width: 95px;
            height: 36px; 
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                border: $border-button-dotted;
                cursor: pointer;
                p{
                    &::first-letter{
                        text-decoration: underline;
                        text-underline-position: under;           
                    }
                }
            }
            &:active{
                color: #8C7D9D;
            }
        }
    }
}   
//desktop 992px - 1438px

@media screen and (min-width: $large-devices){
    .headerBox{
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        @include center-container;
        .buttonsBox{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            .dropButton{
                transform: translate(-5px, -1px);
            }
        }       
    } 
}