//small & medium devices up to 991px
.titleBox{
    @include container;
    margin-top: 1px;
    box-shadow: $box-shadow-tittle;
    @include title-gradient-light;
    box-sizing: border-box;
    height: 30px;
    h1{
        padding: 9px;
        color: $color-secondary;
        font-size: 12px;
    }
}
.headerBox{
    @include container;
    margin-top: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logoBox{
        .darkLogo{
            display: none;
        }
    }
    .buttonsBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        .createButton{
            width: 144px;
            height: 36px;
            margin: 4px;
            @include buttonNormal;
            &:hover{
                @include buttonHover;
            }
            &:active{
                @include buttonActive
            }
            &:focus{
                outline: none;
            }
        }
        .themeButton{
            margin: 4px;
            .chooseBox{
                &:hover{
                    button{
                        @include buttonHover;
                    }
                }
                &:active{
                    button{
                        @include buttonActive;
                    }
                }
                &:focus{
                    outline: none;
                }
            }
            .chooseButton{
                width: 131px;
                @include buttonNormal;
            }
            .dropButton{
                width: 36px;
                transform: translate(-5px);
                @include buttonNormal;
                img{
                    width: 10px;
                    height: 6px;
                }
            }
            ul{                
                display: none;
                &.active{
                    display: block;
                    position: absolute;
                    width: 167px;
                    height: 102px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: $bg-windows-ligth;
                    box-shadow: $box-shadow-windows;
                    list-style: none;
                    li{
                        width: 150px;
                        height: 36px;
                        font-size: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FFF4FD;
                        border: 1px solid #CCA6C9;
                        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
                        cursor: pointer;
                        .sLigth{
                            text-decoration: underline;
                        }
                        &:last-child{
                            background: #F0F0F0;
                            border: 1px solid #808080;
                            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                        }
                    }
                }
                
            }
        }
        .misGuifosBox{
            width: 95px;
            height: 36px; 
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                border: 1px dotted #110038;
                cursor: pointer;
                p{
                    &::first-letter{
                        text-decoration: underline;
                        text-underline-position: under;           }
                    }
                 }
            &:active{
                color: #8C7D9D;
            }
        }
    }
}   
//desktop 992px - 1438px

@media screen and (min-width: $large-devices){
    .headerBox{
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        @include center-container;
        .buttonsBox{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }       
    } 
}