.light{
    background-color: $bg-color-light;
    color: $color-primary;
    .titleBox {
        @include title-gradient-light;
    }
    .createButton{
        @include buttonNormal;
        &:hover{
            @include buttonHover;
        }
        &:active{
            @include buttonActive
        }
    }  
    .chooseBox{
        &:hover{
            button{
                @include buttonHover;
            }
        }
        &:active{
            button{
                @include buttonActive;
            }
        }
    }
    .chooseButton{
        @include buttonNormal;
    }
    .dropButton{
        @include buttonNormal;
    }
    .guifosBox{
        color: $color-secondary;
    }
    #themes{                
        &.active{
            background-color: $bg-windows-light;
            box-shadow: $box-shadow-windows;
            li{
                background-color: #FFF4FD;
                border: $border-options-pink;
                box-shadow: $box-shadow-options;
                &:last-child{
                    background: $bg-options-light;
                    border: $border-options;
                    box-shadow: $box-shadow-windows;
                }
                .sLight{
                    text-decoration: underline;
                    text-underline-position: under;               
                }
            }
        }
    }
    main{
        .search{
            background-color: $bg-windows-light;
            box-shadow: $box-shadow-windows;
            .searchTitleBox{
                background-image: $bg-gradient-title-light;                
            }
            .searchBar{
                #searchButton{
                    &:disabled{
                        background-color: $bg-windows-light;
                        border: $border-options;
                        box-shadow: $box-shadow-windows;
                        color: $color-disabled;
                    }
                    &:enabled{
                        @include buttonNormal;
                        &:hover{
                            @include buttonHover;
                        }
                    }
                }
            }
            #sugResults{
                &.active{
                    background-color: $bg-windows-light;
                    box-shadow: $box-shadow-windows;
                    li{
                        background-color: $bg-options-light;
                        border: $border-options;
                        box-shadow: $box-shadow-windows;
                        &:hover{
                            background-color: $bg-sugestions-hover;
                            border: $border-button;    
                        }
                    }
                }
            }
        }        
        .searchResults{
            .searchResultsBox{
                .imageResultsBox{
                    &:hover{
                        background-color: $bg-windows-light;
                        box-shadow: $box-shadow-windows;
                    }
                    .hashtags{
                        background-image: $bg-gradient-title-light;
                    }
                }
            }
        }
        .top{
            .topResultsBox{
                .imageTopResultsBox{
                    &:hover{
                        background-color: $bg-windows-light;
                        box-shadow: $box-shadow-windows;
                    }
                    .topHashtags{
                        background-image: $bg-gradient-title-light;
                    }
                }
            }
        }
    }
}
