.light{
    background-color: $bg-color-light;
    color: $color-primary;
    .titleBox {
        @include title-gradient-light;
    }
    .createButton{
        @include buttonNormal;
        &:hover{
            @include buttonHover;
        }
        &:active{
            @include buttonActive
        }
    }  
    .chooseBox{
        &:hover{
            button{
                @include buttonHover;
            }
        }
        &:active{
            button{
                @include buttonActive;
            }
        }
    }
    .chooseButton{
        @include buttonNormal;
    }
    .dropButton{
        @include buttonNormal;
    }
    .guifosBox{
        color: $color-secondary;
    }
    #themes{                
        &.active{
            background-color: $bg-windows-light;
            box-shadow: $box-shadow-windows;
            li{
                background-color: #FFF4FD;
                border: $border-options-pink;
                box-shadow: $box-shadow-options;
                &:last-child{
                    background: $bg-options-light;
                    border: $border-options;
                    box-shadow: $box-shadow-windows;
                }
                .sLight{
                    text-decoration: underline;
                    text-underline-position: under;               
                }
            }
        }
    }
    main{
        .searchResultsButtons{
            .searchResultButton{
                background-color: $bg-button-tag;
                &:hover{
                    background-color: $bg-button-tag-hover;    
                }
            }
        }
        .search{
            background-color: $bg-windows-light;
            box-shadow: $box-shadow-windows;
            .searchTitleBox{
                background-image: $bg-gradient-title-light;                
            }
            .searchBar{
                #searchButton{
                    &:disabled{
                        background-color: $bg-windows-light;
                        border: $border-options;
                        box-shadow: $box-shadow-windows;
                        color: $color-disabled;
                    }
                    &:enabled{
                        @include buttonNormal;
                        &:hover{
                            @include buttonHover;
                        }
                    }
                }
            }
            #sugResults{
                &.active{
                    background-color: $bg-windows-light;
                    box-shadow: $box-shadow-windows;
                    li{
                        background-color: $bg-options-light;
                        border: $border-options;
                        box-shadow: $box-shadow-windows;
                        &:hover{
                            background-color: $bg-sugestions-hover;
                            border: $border-button;    
                        }
                    }
                }
            }
        }        
        .searchResults{
            .searchResultsBox{
                .imageResultsBox{
                    &:hover{
                        background-color: $bg-windows-light;
                        box-shadow: $box-shadow-windows;
                    }
                    .hashtags{
                        background-image: $bg-gradient-title-light;
                    }
                }
            }
        }
        .suggestions{
            .sugResultsBox{
                .imageSugResultsBox{
                    background-color: $bg-windows-light;
                    box-shadow: $box-shadow-windows;
                    .sugHashtags{
                        background-image: $bg-gradient-title-light;
                    }
                    button{
                        background-color: $bg-button-tag;   
                        &:hover{
                            background-color: $bg-button-tag-hover;    
                        }
                    }
                }   
            }
        }
        .top{
            .topResultsBox{
                .imageTopResultsBox{
                    &:hover{
                        background-color: $bg-windows-light;
                        box-shadow: $box-shadow-windows;
                    }
                    .topHashtags{
                        background-image: $bg-gradient-title-light;
                    }
                }
            }
        }
        .createGuifos{
            .instructions{
                @include createWindowLight;
                .instructionsTitleBox{
                    background-image: $bg-gradient-title-light;   
                }
                .instructionsFooter{
                    button{
                        border: $border-button;
                        box-shadow: $box-shadow-button;
                    }
                    #begin{
                        background-color: $bg-button-light;
                        &.hover{
                            background-color: $bg-button-hover-light;
                        }
                    }
                } 
            }
            .capturing{
                @include createWindowLight;
                .testTitleBox{
                    background-image: $bg-gradient-title-light;    
                }
                .captureButtonBox{
                    .camera{
                        @include buttonPinkLight;
                    }
                    .capture{
                        @include buttonPinkLight; 
                    }
                }
            }
            .preview{
                @include createWindowLight;
                .previewTitleBox{
                    background-image: $bg-gradient-title-light;    
                }
                .previewFooter{
                    .loadingBox{
                        .iconbox{
                            border: $border-button;
                            box-shadow: $box-shadow-button; 
                            background-color: $bg-button-light;     
                        }
                    }
                    #upload{
                        @include buttonPinkLight;
                    }
                }
            }
            .loading{
                @include createWindowLight; 
                .loadingTitleBox{
                    background-image: $bg-gradient-title-light;    
                }   
            }
            .success{
                @include createWindowLight; 
                .successTitleBox{
                    background-image: $bg-gradient-title-light;    
                }    
                .successFooter{
                    #successReady{
                        @include buttonPinkLight;
                    }
                } 
            }
        }
    }
}
