.resultsBox{
    margin-top: 68px;
    margin-left: 91px;
    margin-right: 91px;
    .resultsTitleBox{
        width: 100%;
        height: 32px;
        background-color: $bg-sectionTitle;
        border: $border-sectionTitle;
        box-shadow: $box-shadow-sectionTitle;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 2%;
        margin-bottom: 17px;
        h3{
            font-size: 14px;
            font-weight: 400;
        }
    }
    .resultsImageBox{
        display: grid;
        
      
    }
}