@mixin container{
    max-width: $xl-devices;
    width: 100%;
}

@mixin center-container-mobile{
    padding-left: 10px;
    padding-right: 10px;
}

@mixin center-container{
    padding-left: 91px;
    padding-right: 91px;
}

@mixin title-gradient-light{
    background-image: $bg-gradient-title-light;
    display: flex;
    align-items: center;
    text-align: center;
}

@mixin title-gradient-dark{
    background-image: $bg-gradient-title-dark;
    display: flex;
    align-items: center;
    text-align: center;
}

@mixin windows{
    background: $bg-windows-light;
    box-shadow: $box-shadow-windows;
}

@mixin buttonNormal{
    background-color: $bg-button-light;
    border: $border-button;
    box-shadow: $box-shadow-button;
}

@mixin buttonDark{
    color: $color-secondary;
    background-color: $bg-button-dark;
    box-shadow: $box-shadow-button-dark;
}
@mixin buttonHover{
    background-color:$bg-button-hover-light;
    outline-offset:-4px;
    outline: $border-button-dotted;   
    cursor: pointer;
}

@mixin buttonHoverDark{
    background-color:$bg-button-hover-dark;
    outline-offset:-4px;
    outline: $border-button-dotted;   
    cursor: pointer;
}
@mixin buttonActive{
    background-color:$bg-button-hover-light;
    outline-offset:-4px;
    outline: $border-button-dotted; 
}
@mixin buttonActiveDark{
    background-color:$bg-button-hover-dark;
    outline-offset:-4px;
    outline: $border-button-dotted; 
}

@mixin sectionTitle{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    background-color: $bg-sectionTitle;
    border: $border-sectionTitle;
    box-shadow: $box-shadow-sectionTitle;
    h3{
        padding-left: 7px;
        font-size: 14px;
        font-weight: 300;
    }
}

@mixin resultsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@mixin imageResultsBox{
    width: 294px;
    height: 304px;
    margin-bottom: 16px;
    position: relative;
}

@mixin gifs{
    img{
        object-fit: cover;
        width: 288px;
        height: 298px; 
    }
}

@mixin hashtags{
    display: none;
    h2{
        margin-left: 3px;
        font-size: 14px;
        font-weight: bold;
        color: $color-secondary;
    }    
}

@mixin hoverGifBox{
    outline-offset:-4px;
    border: $border-button-dotted;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

@mixin hoverGif{
    position: relative;
    z-index: 0;
}

@mixin hoverHashtags{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    transform: translateY(274px);
}

@mixin createWindowLight{
    background-color: $bg-windows-light;
    box-shadow: $box-shadow-windows;
}

@mixin createWindowDark{
    background-color: $bg-search-dark;
    box-shadow: $box-shadow-search-dark;
}

@mixin createHeaderWindow{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;                
    h2{
        margin-left: 5px;
        color: white;
        font-size: 14px;
        font-weight: bold;
    }  
}
