//normalize

html{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font-family;
}

body{
    background-color: $bg-color-ligth;
    color: #110038;
    line-height: 18px;
}
