main{
    .searchResults{
        display: none;
        z-index: 1;
        width: 100%;
        .searchResultsButtons{
            margin-top: 12px;
            margin-bottom: 54px;
            .searchResultButton{
                box-sizing: border-box;
                height: 34px;
                padding: 7px 8px;
                margin-right: 8px;
                background-color: $bg-button-tag;
                border: $border-button-tag;
                box-shadow: $box-shadow-button-tag;
                color: $color-secondary;
                font-size: 14px;
            }
        }
        .searchResultsTitle{
            @include sectionTitle;                   
        }  
        .searchResultsBox{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .imageResultsBox{
                width: 294px;
                height: 304px;
                margin-bottom: 16px;
                position: relative;
                .gifs{
                    img{
                        object-fit: cover;
                        width: 288px;
                        height: 298px;                  
                    }
                }    
                .hashtags{
                    display: none;
                    h2{
                        margin-left: 3px;
                        font-size: 14px;
                        font-weight: bold;
                        color: $color-secondary;
                    }
                    
                }
                &:hover{
                    outline-offset:-4px;
                    border: $border-button-dotted;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    .gifs{
                        position: relative;
                        z-index: 0;
                    }
                    .hashtags{
                        width: 100%;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        z-index: 1;
                        transform: translateY(274px);
                    }
                }
            }
        }
    }
}