//small & medium devices up to 991px
main{
    .createGuifos{
        margin-top: 15px;
        box-sizing: border-box;
        .logoBoxCreate{
            display: flex;
            justify-content: center;
            img{
                padding: 5px;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .instructions{
            width: 100%;
            .instructionsTitleBox{
                @include createHeaderWindow;    
            }
            .instructionsBody{
                display: flex;
                flex-direction: row;
                .instructionsIcon{
                    box-sizing: border-box;
                    margin-top: 30px;
                    margin-left: 25px;
                    margin-right: 16px;
                }
                .instructionsText{
                    box-sizing: border-box;
                    margin-top: 30px;
                    margin-right: 25px;
                    font-size: 14px;
                    .headerText{
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
            .instructionsFooter{
                width: 100%;
                margin-top: 16px;
                padding-bottom: 36px;
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                justify-content: center;
                box-sizing: border-box;
                button{
                 @include buttonWhitePink;
                }
                #cancel{
                    margin-right: 16px;
                    background-color:$bg-color-light;
                }  
            }
        }
        .capturing{
            display: none;
            width: 100%;
            .testTitleBox{
                @include createHeaderWindow;
                justify-content: space-between;
                #closeCapture{
                    margin-right: 10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .videoBoxTest{
                @include bodyWindow;    
                #captureVideo{
                    @include recorder;   
                }
            }
            .captureButtonBox{
                width: 100%;
                height: 36px;
                padding-bottom: 59px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center; 
                .camera{
                    width: 36px;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    &:hover{
                        cursor: pointer;
                        outline-offset:-4px;
                        outline: $border-button-dotted;
                    }
                }
                .capture{
                    width: 144px;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    &:hover{
                        cursor: pointer;
                        outline-offset:-4px;
                        outline: $border-button-dotted;
                    }
                }
                .recording{
                    display: none;
                    width: 36px;
                    height: 36px;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    background-color: $bg-button-ready;
                    border: $border-button;
                    box-shadow: $box-shadow-ready;
                    &:hover{
                        cursor: pointer;
                        outline-offset:-4px;
                        outline: $border-button-dotted;                    
                    }
                }
                .ready{
                    display: none;
                    width: 144px;
                    height: 36px;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    background-color: $bg-button-ready;
                    border: $border-button;
                    box-shadow: $box-shadow-ready;
                    color: $color-secondary;
                    &:hover{
                        cursor: pointer;
                        outline-offset:-4px;
                        outline: $border-button-dotted;
                    }
                }
                .counter{
                    display: none;
                    @include timer;
                }
            }
        }
        .preview{
            display: none;
            width: 100%;
            .previewTitleBox{
                @include createHeaderWindow;
                justify-content: space-between;
            }
            .previewImgBox{
                @include bodyWindow; 
                #previewImg{
                    @include recorder;       
                }
            }
            .previewFooter{
                display: flex;
                flex-direction: column;
                align-items: center;
                .counter{
                    @include timer;
                    display: flex;
                }
                .loadingBox{
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 10px;
                    .iconbox{
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .loadingBar{
                        width: 240px;
                        @include loadingBar;    
                    }    
                }
                button{
                    @include buttonWhitePink;
                    margin-bottom: 10px;
                }
                #repeat{
                    border: $border-button;
                    background-color:$bg-color-light;    
                    box-shadow: $box-shadow-button;                
                }
            }

        }
        .loading{
            display: none;
            .loadingTitleBox{
                width: 100%;
                @include createHeaderWindow;
                justify-content: space-between;
                #closeLoading{
                    margin-right: 10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .loadingBox{
                @include bodyWindow;
                display: flex;
                flex-direction: column;
                align-items: center;  
                .iconBox{
                    margin-top: 139px;
                }
                .textBold{
                    font-weight: bold;
                    margin-top: 8px;
                }
                .loadingBar{
                    margin-top: 41px;
                    margin-bottom: 8px;
                    width: 97%;                    
                    @include loadingBar;
                }              
                .tachado{
                    text-decoration: line-through;   
                }
            }
            .loadingFooter{
                width: 100%;
                height: 73px;
                display: flex;
                justify-content: center;
                #loadingCancel{
                    @include buttonWhitePink;
                    border: $border-button;
                    background-color:$bg-color-light;    
                    box-shadow: $box-shadow-button;   
                }
            }
        }
    }
    .myGuifos{
        width: 100%;
        margin-top: 30px;
        .myGuifosTitleBox{
            @include sectionTitle;
        }
        .myGuifosResultsBox{
            @include resultsBox;     
            .imageMyResultsBox{
                @include imageResultsBox;
                .myGifs{
                    @include gifs;
                }         
            }
        }
    }
   
}

//desktop 992px - 1438px
@media screen and (min-width: $large-devices){
    main{
        .createGuifos{
            margin-top: 39px;
            .logoBoxCreate{               
                justify-content: start;
            }
            .instructions{
                width: 684px;
                height: 386px;
                margin-top: 75px;
                margin-left: 250px;
                margin-right: 289px;                               
                .instructionsFooter{
                    width: 304px;
                    margin-left: 354px;
                }
            }
            .capturing{
                @include createWindow;  
                .videoBoxTest{
                    #captureVideo{
                        width: 99.5%;
                    }
                }
                .captureButtonBox{
                    width: 180px;
                    margin-left: 661px;
                    position: relative;
                    .camera{
                        margin-top: 0;
                    }
                    .capture{
                        margin-top: 0;
                    }
                    .counter{
                        position: absolute;
                        transform: translate(-670px, -1px);
                    }
                }
            }
            .preview{
                @include createWindow;  
                .previewImgBox{
                    #previewImg{
                        width: 99.5%;    
                    }
                }  
                .previewFooter{
                    padding-left: 11px;
                    padding-right: 16px;
                    flex-direction: row;
                    align-items: center;
                    .counter{
                        margin-bottom: 0;
                    }
                    .loadingBox{
                        margin-left: 24px;
                        padding-bottom: 0;
                    }
                    #repeat{
                        margin-left: 121px;
                        margin-bottom: 0px;
                    }
                    #upload{
                        margin-left: 14px;  
                        margin-bottom: 0px;
                    }
                }
            }
            .loading{
                @include createWindow; 
                .loadingBox{
                    .loadingBar{
                        width: 324px;    
                    }
                }    
            }
        }
    }
}