//media queries 
$large-devices: 992px;
$xl-devices: 1448px;

//font
$font-family: 'Chakra Petch-regular';
$font-family-bold: 'Chakra Petch-bold';
$font-size: 16px;
$font-heigh-line: 18px;
$color-primary: #110038;
$color-secondary: #FFFFFF;
$color-disabled: #B4B4B4;
$color-disabled-dark: #8F8F8F;

//background 
$bg-color-light:#FFFFFF;
$bg-color-dark:#110038;
$bg-gradient-title-light: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$bg-gradient-title-dark: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$bg-button-light: #F7C9F3;
$bg-button-dark: #EE3EFE;
$bg-button-hover-light: #E6BBE2;
$bg-button-hover-dark: #CE36DB;
$bg-windows-light: #E6E6E6;;
$bg-windows-dark: #8F8F8F;
$bg-search-dark: #B4B4B4;
$bg-options-light:  #F0F0F0;
$bg-options-dark: #2E32FB;
$bg-sugestions-hover: #DBDBDB;
$bg-sugestions-dark: #CCCCCC;
$bg-sectionTitle: #FFFAFE;
$bg-button-tag: #4180F6;
$bg-button-tag-dark: #2E32FB;
$bg-button-tag-hover:#3A72DB;
$bg-button-tag-hover-dark:#2629CC;

//borders
$border-button: 1px solid #110038;
$border-button-dotted: 1px dotted #110038;
$border-input: 1px solid #979797;
$border-options: 1px solid #808080;
$border-options-pink: 1px solid #CCA6C9;
$border-options-dark: 1px solid #33358F;
$border-sectionTitle:1px solid #E6BBE2;
$border-button-tag: 1px solid #4C2F99;

//box shadow
$box-shadow-title: 0 1px 0 0 #110038;
$box-shadow-button: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$box-shadow-button-dark: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
$box-shadow-windows: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
$box-shadow-windows-dark: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
$box-shadow-input: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
$box-shadow-sectionTitle: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
$box-shadow-options: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
$box-shadow-search-dark: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
$box-shadow-button-tag: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
$box-shadow-gif-dark: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;