html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Chakra Petch-regular";
}

body {
  font-size: 16px;
  line-height: 18px;
}

.dark {
  background-color: #110038;
}

.dark .titleBox {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.dark .createButton {
  color: #FFFFFF;
  background-color: #EE3EFE;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dark .createButton:hover {
  background-color: #CE36DB;
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

.dark .createButton:active {
  background-color: #CE36DB;
  outline-offset: -4px;
  outline: 1px dotted #110038;
}

.dark .chooseBox:hover button {
  background-color: #CE36DB;
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

.dark .chooseBox:active button {
  background-color: #CE36DB;
  outline-offset: -4px;
  outline: 1px dotted #110038;
}

.dark .chooseButton {
  color: #FFFFFF;
  background-color: #EE3EFE;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dark .dropButton {
  color: #FFFFFF;
  background-color: #EE3EFE;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dark .dropButton img {
  -webkit-filter: invert(100);
          filter: invert(100);
}

.dark .misGuifosBox {
  color: #FFFFFF;
}

.dark #themes.active {
  background-color: #8F8F8F;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.dark #themes.active li {
  background-color: #CCCCCC;
  border: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.dark #themes.active li:last-child {
  background: #2E32FB;
  border: 1px solid #33358F;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.dark #themes.active li .sDark {
  text-decoration: underline;
  text-underline-position: under;
}

.dark main .searchResultsButtons .searchResultButton {
  background-color: #2E32FB;
}

.dark main .searchResultsButtons .searchResultButton:hover {
  background-color: #2629CC;
}

.dark main .search {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.dark main .search .searchTitleBox {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark main .search .searchBar #searchButton:disabled {
  background-color: #B4B4B4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  color: #8F8F8F;
}

.dark main .search .searchBar #searchButton:disabled #lens {
  fill: #8F8F8F;
}

.dark main .search .searchBar #searchButton:enabled {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.dark main .search .searchBar #searchButton:enabled:hover {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

.dark main .search #sugResults.active {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.dark main .search #sugResults.active li {
  background-color: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.dark main .search #sugResults.active li:hover {
  border: 1px solid #110038;
}

.dark main .searchResults .searchResultsBox .imageResultsBox:hover {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.dark main .searchResults .searchResultsBox .imageResultsBox .hashtags {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark main .suggestions .sugResultsBox .imageSugResultsBox {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.dark main .suggestions .sugResultsBox .imageSugResultsBox .sugHashtags {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark main .suggestions .sugResultsBox .imageSugResultsBox button {
  background-color: #2E32FB;
}

.dark main .suggestions .sugResultsBox .imageSugResultsBox button:hover {
  background-color: #2629CC;
}

.dark main .top .topResultsBox .imageTopResultsBox:hover {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.dark main .top .topResultsBox .imageTopResultsBox .topHashtags {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark main .createGuifos .instructions {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.dark main .createGuifos .instructions .instructionsTitleBox {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark main .createGuifos .instructions .instructionsFooter button {
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dark main .createGuifos .instructions .instructionsFooter #cancel {
  background-color: #FFFFFF;
}

.dark main .createGuifos .instructions .instructionsFooter #begin {
  background-color: #EE3EFE;
}

.dark main .createGuifos .instructions .instructionsFooter #begin.hover {
  background-color: #CE36DB;
}

.dark main .createGuifos .test {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.dark main .createGuifos .test .testTitleBox {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark main .createGuifos .test .testButtonBox button {
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  background-color: #EE3EFE;
}

.dark main .createGuifos .test .testButtonBox button.hover {
  background-color: #CE36DB;
}

.light {
  background-color: #FFFFFF;
  color: #110038;
}

.light .titleBox {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.light .createButton {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.light .createButton:hover {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

.light .createButton:active {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
}

.light .chooseBox:hover button {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

.light .chooseBox:active button {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
}

.light .chooseButton {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.light .dropButton {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.light .guifosBox {
  color: #FFFFFF;
}

.light #themes.active {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light #themes.active li {
  background-color: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.light #themes.active li:last-child {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light #themes.active li .sLight {
  text-decoration: underline;
  text-underline-position: under;
}

.light main .searchResultsButtons .searchResultButton {
  background-color: #4180F6;
}

.light main .searchResultsButtons .searchResultButton:hover {
  background-color: #3A72DB;
}

.light main .search {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light main .search .searchTitleBox {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.light main .search .searchBar #searchButton:disabled {
  background-color: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  color: #B4B4B4;
}

.light main .search .searchBar #searchButton:enabled {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.light main .search .searchBar #searchButton:enabled:hover {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

.light main .search #sugResults.active {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light main .search #sugResults.active li {
  background-color: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light main .search #sugResults.active li:hover {
  background-color: #DBDBDB;
  border: 1px solid #110038;
}

.light main .searchResults .searchResultsBox .imageResultsBox:hover {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light main .searchResults .searchResultsBox .imageResultsBox .hashtags {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.light main .suggestions .sugResultsBox .imageSugResultsBox {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light main .suggestions .sugResultsBox .imageSugResultsBox .sugHashtags {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.light main .suggestions .sugResultsBox .imageSugResultsBox button {
  background-color: #4180F6;
}

.light main .suggestions .sugResultsBox .imageSugResultsBox button:hover {
  background-color: #3A72DB;
}

.light main .top .topResultsBox .imageTopResultsBox:hover {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light main .top .topResultsBox .imageTopResultsBox .topHashtags {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.light main .createGuifos .instructions {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light main .createGuifos .instructions .instructionsTitleBox {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.light main .createGuifos .instructions .instructionsFooter button {
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.light main .createGuifos .instructions .instructionsFooter #cancel {
  background-color: #FFFFFF;
}

.light main .createGuifos .instructions .instructionsFooter #begin {
  background-color: #F7C9F3;
}

.light main .createGuifos .instructions .instructionsFooter #begin.hover {
  background-color: #E6BBE2;
}

.light main .createGuifos .test {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.light main .createGuifos .test .testTitleBox {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.light main .createGuifos .test .testButtonBox button {
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  background-color: #F7C9F3;
}

.light main .createGuifos .test .testButtonBox button.hover {
  background-color: #E6BBE2;
}

.titleBox {
  max-width: 1448px;
  width: 100%;
  margin-top: 1px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
}

.titleBox h1 {
  padding: 9px;
  color: #FFFFFF;
  font-size: 12px;
}

.headerBox {
  max-width: 1448px;
  width: 100%;
  margin-top: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox .logoBox:hover {
  cursor: pointer;
}

.headerBox .buttonsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox .buttonsBox .createButton {
  width: 144px;
  height: 36px;
  margin: 4px;
  font-size: 16px;
}

.headerBox .buttonsBox .createButton:focus {
  outline: none;
}

.headerBox .buttonsBox .themeButton {
  margin: 4px;
}

.headerBox .buttonsBox .themeButton .chooseBox:focus {
  outline: none;
}

.headerBox .buttonsBox .themeButton .chooseButton {
  width: 131px;
  height: 36px;
  font-size: 16px;
}

.headerBox .buttonsBox .themeButton .dropButton {
  width: 36px;
  height: 36px;
  -webkit-transform: translate(-5px);
          transform: translate(-5px);
}

.headerBox .buttonsBox .themeButton .dropButton img {
  width: 10px;
  height: 6px;
}

.headerBox .buttonsBox .themeButton ul {
  display: none;
}

.headerBox .buttonsBox .themeButton ul.active {
  display: block;
  position: absolute;
  z-index: 2;
  width: 167px;
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.headerBox .buttonsBox .themeButton ul.active li {
  width: 150px;
  height: 36px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.headerBox .buttonsBox .misGuifosBox {
  width: 95px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox .buttonsBox .misGuifosBox:hover {
  border: 1px dotted #110038;
  cursor: pointer;
}

.headerBox .buttonsBox .misGuifosBox:hover p::first-letter {
  text-decoration: underline;
  text-underline-position: under;
}

.headerBox .buttonsBox .misGuifosBox:active {
  color: #8C7D9D;
}

@media screen and (min-width: 992px) {
  .headerBox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 91px;
    padding-right: 91px;
  }
  .headerBox .buttonsBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerBox .buttonsBox .dropButton {
    -webkit-transform: translate(-5px, -1px);
            transform: translate(-5px, -1px);
  }
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1448px;
  width: 100%;
}

main .search {
  width: 100%;
  position: relative;
  margin-top: 19px;
}

main .search .searchTitleBox {
  width: 100%;
}

main .search .searchTitleBox h2 {
  margin-left: 5px;
  color: #FFFFFF;
  font-family: "Chakra Petch-bold";
  font-size: 14px;
}

main .search .searchBar {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search .searchBar input {
  width: 84%;
  height: 48px;
  margin-top: 5px;
  margin-bottom: 5px;
}

main .search .searchBar input::-webkit-input-placeholder {
  font-size: 16px;
  padding-left: 20px;
}

main .search .searchBar input:-ms-input-placeholder {
  font-size: 16px;
  padding-left: 20px;
}

main .search .searchBar input::-ms-input-placeholder {
  font-size: 16px;
  padding-left: 20px;
}

main .search .searchBar input::placeholder {
  font-size: 16px;
  padding-left: 20px;
}

main .search .searchBar #searchButton {
  width: 102px;
  height: 36px;
  margin-bottom: 5px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search #sugResults {
  display: none;
}

main .search #sugResults.active {
  z-index: 2;
  position: absolute;
  display: block;
  width: 100%;
  height: 140px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .search #sugResults.active li {
  width: 80%;
  height: 34px;
  margin-left: 2%;
  padding-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search #sugResults.active li:hover {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  main {
    padding-left: 91px;
    padding-right: 91px;
  }
  main .search {
    height: 99px;
  }
  main .search .searchTitleBox {
    height: 24px;
  }
  main .search .searchBar {
    height: 75px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .search .searchBar .input {
    margin: 0px;
  }
  main .search .searchBar #searchButton {
    margin: 0px;
  }
}

main .searchResultsButtons {
  height: 34px;
  margin-top: 12px;
  margin-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

main .searchResultsButtons .searchResultButton {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 34px;
  padding: 7px 8px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  background-color: #4180F6;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
}

main .searchResultsButtons .searchResultButton:hover {
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

main .searchResults {
  display: none;
  z-index: 1;
  width: 100%;
}

main .searchResults .searchResultsTitle {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
  background-color: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

main .searchResults .searchResultsTitle h3 {
  padding-left: 7px;
  font-size: 14px;
  font-weight: 300;
}

main .searchResults .searchResultsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .searchResults .searchResultsBox .imageResultsBox {
  width: 294px;
  height: 304px;
  margin-bottom: 16px;
  position: relative;
}

main .searchResults .searchResultsBox .imageResultsBox .gifs img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 288px;
  height: 298px;
}

main .searchResults .searchResultsBox .imageResultsBox .hashtags {
  display: none;
}

main .searchResults .searchResultsBox .imageResultsBox .hashtags h2 {
  margin-left: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

main .searchResults .searchResultsBox .imageResultsBox:hover {
  outline-offset: -4px;
  border: 1px dotted #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

main .searchResults .searchResultsBox .imageResultsBox:hover .gifs {
  position: relative;
  z-index: 0;
}

main .searchResults .searchResultsBox .imageResultsBox:hover .hashtags {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  -webkit-transform: translateY(274px);
          transform: translateY(274px);
}

main .suggestions .sugTitleBox {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
  background-color: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

main .suggestions .sugTitleBox h3 {
  padding-left: 7px;
  font-size: 14px;
  font-weight: 300;
}

main .suggestions .sugResultsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .suggestions .sugResultsBox .imageSugResultsBox {
  width: 288px;
  height: 313px;
  margin-bottom: 16px;
}

main .suggestions .sugResultsBox .imageSugResultsBox .sugHashtags {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .suggestions .sugResultsBox .imageSugResultsBox .sugHashtags h2 {
  margin-left: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

main .suggestions .sugResultsBox .imageSugResultsBox .sugHashtags img {
  width: 16px;
  height: 14px;
  position: absolute;
  -webkit-transform: translate(262px, 1px);
          transform: translate(262px, 1px);
}

main .suggestions .sugResultsBox .imageSugResultsBox .sugHashtags img:hover {
  cursor: pointer;
}

main .suggestions .sugResultsBox .imageSugResultsBox .sugGifs img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 280px;
  height: 280px;
}

main .suggestions .sugResultsBox .imageSugResultsBox .sugGifs img:hover {
  outline-offset: -4px;
  outline: 1px dotted #110038;
}

main .suggestions .sugResultsBox .imageSugResultsBox button {
  width: 81px;
  height: 34px;
  position: absolute;
  -webkit-transform: translate(15px, -50px);
          transform: translate(15px, -50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

main .suggestions .sugResultsBox .imageSugResultsBox button:hover {
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

main .top .topTitleBox {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
  background-color: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

main .top .topTitleBox h3 {
  padding-left: 7px;
  font-size: 14px;
  font-weight: 300;
}

main .top .topResultsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .top .topResultsBox .imageTopResultsBox {
  width: 294px;
  height: 304px;
  margin-bottom: 16px;
  position: relative;
}

main .top .topResultsBox .imageTopResultsBox .topGifs img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 288px;
  height: 298px;
}

main .top .topResultsBox .imageTopResultsBox .topHashtags {
  display: none;
}

main .top .topResultsBox .imageTopResultsBox .topHashtags h2 {
  margin-left: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

main .top .topResultsBox .imageTopResultsBox:hover {
  outline-offset: -4px;
  border: 1px dotted #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

main .top .topResultsBox .imageTopResultsBox:hover .topGifs {
  position: relative;
  z-index: 0;
}

main .top .topResultsBox .imageTopResultsBox:hover .topHashtags {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  -webkit-transform: translateY(274px);
          transform: translateY(274px);
}

main .createGuifos {
  margin-top: 15px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .createGuifos .logoBoxCreate {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .createGuifos .logoBoxCreate img {
  padding: 5px;
}

main .createGuifos .logoBoxCreate:hover {
  cursor: pointer;
}

main .createGuifos .instructions {
  display: none;
  width: 100%;
}

main .createGuifos .instructions .instructionsTitleBox {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .createGuifos .instructions .instructionsTitleBox h2 {
  margin-left: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

main .createGuifos .instructions .instructionsBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .createGuifos .instructions .instructionsBody .instructionsIcon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 16px;
}

main .createGuifos .instructions .instructionsBody .instructionsText {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  margin-right: 25px;
  font-size: 14px;
}

main .createGuifos .instructions .instructionsBody .instructionsText .headerText {
  font-size: 16px;
  font-weight: bold;
}

main .createGuifos .instructions .instructionsFooter {
  width: 100%;
  margin-top: 16px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .createGuifos .instructions .instructionsFooter button {
  width: 144px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .createGuifos .instructions .instructionsFooter button:hover {
  border: 1px dotted #110038;
  cursor: pointer;
}

main .createGuifos .instructions .instructionsFooter #cancel {
  margin-right: 16px;
}

main .createGuifos .test {
  display: none;
  width: 100%;
}

main .createGuifos .test .testTitleBox {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .createGuifos .test .testTitleBox h2 {
  margin-left: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

main .createGuifos .test .testTitleBox #closeUno {
  margin-right: 10px;
}

main .createGuifos .test .testTitleBox #closeUno:hover {
  cursor: pointer;
}

main .createGuifos .test .videoBoxUno {
  margin-top: 8px;
  margin-right: 11px;
  margin-left: 17px;
  margin-bottom: 21px;
  height: 434px;
  background-color: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

main .createGuifos .test .testButtonBox {
  width: 100%;
  height: 36px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .createGuifos .test .testButtonBox button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .createGuifos .test .testButtonBox button:hover {
  border: 1px dotted #110038;
  cursor: pointer;
}

main .createGuifos .test .testButtonBox .camera {
  width: 36px;
  height: 36px;
}

main .createGuifos .test .testButtonBox .capture {
  width: 144px;
  height: 36px;
}

main .createGuifos .capturing {
  display: none;
}

main .createGuifos .preview {
  display: none;
}

main .createGuifos .loading {
  display: none;
}

@media screen and (min-width: 992px) {
  main .createGuifos {
    margin-top: 39px;
  }
  main .createGuifos .logoBoxCreate {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  main .createGuifos .instructions {
    width: 684px;
    height: 386px;
    margin-top: 75px;
    margin-left: 250px;
    margin-right: 289px;
  }
  main .createGuifos .instructions .instructionsFooter {
    width: 304px;
    margin-left: 354px;
  }
  main .createGuifos .test {
    width: 854px;
    height: 548px;
    margin-top: 75px;
    margin-left: 186px;
    margin-right: 289px;
  }
}
/*# sourceMappingURL=styles.css.map */