html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Chakra Petch-regular";
}

body {
  background-color: #FFFFFF;
  color: #110038;
  font-size: 16px;
  line-height: 18px;
}

body.dark {
  background-color: #110038;
}

.titleBox {
  max-width: 1448px;
  width: 100%;
  margin-top: 1px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
}

.titleBox h1 {
  padding: 9px;
  color: #FFFFFF;
  font-size: 12px;
}

.headerBox {
  max-width: 1448px;
  width: 100%;
  margin-top: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox .logoBox .darkLogo {
  display: none;
}

.headerBox .buttonsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox .buttonsBox .createButton {
  width: 144px;
  height: 36px;
  margin: 4px;
  height: 36px;
  font-size: 16px;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.headerBox .buttonsBox .createButton:hover {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

.headerBox .buttonsBox .createButton:active {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
}

.headerBox .buttonsBox .createButton:focus {
  outline: none;
}

.headerBox .buttonsBox .themeButton {
  margin: 4px;
}

.headerBox .buttonsBox .themeButton .chooseBox:hover button {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
  cursor: pointer;
}

.headerBox .buttonsBox .themeButton .chooseBox:active button {
  background-color: #E6BBE2;
  outline-offset: -4px;
  outline: 1px dotted #110038;
}

.headerBox .buttonsBox .themeButton .chooseBox:focus {
  outline: none;
}

.headerBox .buttonsBox .themeButton .chooseButton {
  width: 131px;
  height: 36px;
  font-size: 16px;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.headerBox .buttonsBox .themeButton .dropButton {
  width: 36px;
  -webkit-transform: translate(-5px);
          transform: translate(-5px);
  height: 36px;
  font-size: 16px;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.headerBox .buttonsBox .themeButton .dropButton img {
  width: 10px;
  height: 6px;
}

.headerBox .buttonsBox .themeButton ul {
  display: none;
}

.headerBox .buttonsBox .themeButton ul.active {
  display: block;
  position: absolute;
  width: 167px;
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  list-style: none;
}

.headerBox .buttonsBox .themeButton ul.active li {
  width: 150px;
  height: 36px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.headerBox .buttonsBox .themeButton ul.active li .sLigth {
  text-decoration: underline;
}

.headerBox .buttonsBox .themeButton ul.active li:last-child {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.headerBox .buttonsBox .misGuifosBox {
  width: 95px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox .buttonsBox .misGuifosBox:hover {
  border: 1px dotted #110038;
  cursor: pointer;
}

.headerBox .buttonsBox .misGuifosBox:hover p::first-letter {
  text-decoration: underline;
  text-underline-position: under;
}

.headerBox .buttonsBox .misGuifosBox:active {
  color: #8C7D9D;
}

@media screen and (min-width: 992px) {
  .headerBox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 91px;
    padding-right: 91px;
  }
  .headerBox .buttonsBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */